/*******************************
=>  Navbar Section
********************************/

/*--- Background of Navbar ---*/
header nav#main-navbar {
  box-shadow: .5px .5px 3px #583f3140;
  z-index: 5555;
  background: #fff;
}

/*--- Site Logo Area ---*/

.site-logo {
  margin-right: 5rem;
}

.site-logo .navbar-brand {
  width: 18rem;
}

.site-logo .navbar-brand img {
  width: 100%;
}

/*--- Site Icon ---*/
#site-icon {
  color: #9da504;
  padding-right: rem;
  font-size: 2.4rem;
}

/*--- Site Title ---*/
header #main-navbar a.navbar-brand {
  font-family: 'Berkshire Swash', Arial, Helvetica, sans-serif;
  font-size: 2.8rem;
  color: #583f31;
}

/*--- Menu Section ---*/
.navbar-nav .nav-item a.nav-link {
  color: #323232;
  font-size: 1.6rem;
  font-family: 'Lato', serif;
  font-weight: 700;
}

.navbar-nav .nav-item {
  padding-right: 3.6rem;
}

.nb-btn i {
  font-size: 1rem;
  padding-left: 0.2rem;
}

.navbar-nav .nav-item a.nav-link:hover {
  color: #dd4d3b;
}

.navbar-nav .nav-item.active a.nav-link {
  color: #9da504;
}

/*--- Toggler Button ---*/
button.navbar-toggler {
  border: none;
}

button.navbar-toggler:focus {
  outline-color: #9da504;
}

i#toggle-icon {
  color: #9da504;
}